body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.kansasAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 

.kansasStyle{
  background-color: blue;
  width: 120px;
  text-shadow: 2px,2px,2px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}